.preview-area {
  width: 65%;
  display: inline-block; }
  @media only screen and (max-width: 991px) {
    .preview-area {
      width: 100%; } }
  .preview-area .preview-img {
    width: 100%;
    text-align: center;
    margin: auto; }
    .preview-area .preview-img .rotate {
      width: 80%; }
      .preview-area .preview-img .rotate #right {
        width: 50px;
        height: 50px; }
      .preview-area .preview-img .rotate #left {
        height: 50px;
        width: 50px; }
    .preview-area .preview-img .m {
      display: block;
      width: 100%; }
      .preview-area .preview-img .m .pos1-m {
        display: block;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/male/b1_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .m .pos1-m {
            width: 100%;
            background-size: contain; } }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .m .pos1-m {
            background-position: 0; } }
        .preview-area .preview-img .m .pos1-m .text1 {
          position: relative;
          font-size: 30px;
          color: white;
          position: relative;
          top: 125px;
          width: 200px;
          margin: auto; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .m .pos1-m .text1 {
              position: relative;
              font-size: 20px;
              top: 160px;
              width: 30%; } }
      .preview-area .preview-img .m .pos2-m {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/male/b2_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .m .pos2-m {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .m .pos2-m .text2 {
          position: relative;
          font-size: 30px;
          color: white;
          font-size: 15px;
          top: 180px;
          left: 30px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .m .pos2-m .text2 {
              font-size: 12px;
              left: 18px;
              top: 205px; } }
      .preview-area .preview-img .m .pos3-m {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/male/b3_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .m .pos3-m {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .m .pos3-m .text3 {
          position: relative;
          font-size: 30px;
          color: white;
          top: 100px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .m .pos3-m .text3 {
              font-size: 20px;
              top: 160px; } }
      .preview-area .preview-img .m .pos4-m {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/male/b4_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .m .pos4-m {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .m .pos4-m .text4 {
          position: relative;
          font-size: 30px;
          color: white;
          top: 180px;
          left: -35px;
          font-size: 15px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .m .pos4-m .text4 {
              font-size: 12px;
              left: -17px;
              top: 200px; } }
    .preview-area .preview-img .f {
      display: none;
      width: 100%; }
      .preview-area .preview-img .f .pos1-f {
        display: block;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/female/g1_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .f .pos1-f {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .f .pos1-f .text1 {
          position: relative;
          font-size: 30px;
          color: white;
          position: relative;
          top: 125px;
          width: 200px;
          margin: auto; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .f .pos1-f .text1 {
              font-size: 20px;
              top: 160px; } }
      .preview-area .preview-img .f .pos2-f {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/female/g2_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .f .pos2-f {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .f .pos2-f .text2 {
          position: relative;
          font-size: 30px;
          color: white;
          font-size: 15px;
          top: 180px;
          left: 30px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .f .pos2-f .text2 {
              position: relative;
              top: 40%;
              left: 20px;
              font-size: 13px; } }
      .preview-area .preview-img .f .pos3-f {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/female/g3_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .f .pos3-f {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .f .pos3-f .text3 {
          position: relative;
          font-size: 30px;
          color: white;
          top: 100px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .f .pos3-f .text3 {
              font-size: 20px;
              top: 160px; } }
      .preview-area .preview-img .f .pos4-f {
        display: none;
        position: relative;
        width: 500px;
        height: 500px;
        background-size: 500px;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-image: url("../img/female/g4_1red.png"); }
        @media only screen and (max-width: 491px) {
          .preview-area .preview-img .f .pos4-f {
            width: 100%;
            background-size: contain; } }
        .preview-area .preview-img .f .pos4-f .text4 {
          position: relative;
          font-size: 30px;
          color: white;
          top: 180px;
          left: -35px;
          font-size: 15px; }
          @media only screen and (max-width: 491px) {
            .preview-area .preview-img .f .pos4-f .text4 {
              font-size: 12px;
              left: -25px;
              top: 190px; } }

.work-area {
  width: 35%;
  display: inline-block;
  vertical-align: top; }
  @media only screen and (max-width: 991px) {
    .work-area {
      width: 100%;
      height: 300px; } }
  .work-area .tool-item {
    width: 20%;
    display: inline-block;
    background-color: #616161;
    height: 800px;
    vertical-align: top; }
    @media only screen and (max-width: 991px) {
      .work-area .tool-item {
        height: 300px; } }
    .work-area .tool-item .color-icon {
      text-align: center;
      height: 50px;
      border-bottom: 1px solid white;
      padding-top: 10px; }
      .work-area .tool-item .color-icon i {
        font-size: 30px;
        color: #b9b9b9; }
    .work-area .tool-item .style-icon {
      text-align: center;
      height: 50px;
      border-bottom: 1px solid white;
      padding-top: 10px; }
      .work-area .tool-item .style-icon i {
        font-size: 30px;
        color: #b9b9b9; }
    .work-area .tool-item .diy-icon {
      text-align: center;
      height: 50px;
      border-bottom: 1px solid white;
      padding-top: 10px; }
      .work-area .tool-item .diy-icon i {
        font-size: 30px;
        color: #b9b9b9; }
  .work-area .tool-box {
    width: 80%;
    display: inline-block; }
    .work-area .tool-box .colors {
      width: 80%;
      text-align: center; }
      .work-area .tool-box .colors .title {
        font-size: 30px;
        color: black; }
      .work-area .tool-box .colors .red {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/red.png"); }
      .work-area .tool-box .colors .blue {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/blue.png"); }
      .work-area .tool-box .colors .green {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/green.png"); }
      .work-area .tool-box .colors .camblue {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/camblue.jpg"); }
      .work-area .tool-box .colors .yellow {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/yellow.jpg"); }
      .work-area .tool-box .colors .purple {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/purple.jpg"); }
      .work-area .tool-box .colors .orange {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/orange.png"); }
      .work-area .tool-box .colors .black {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/black.png"); }
      .work-area .tool-box .colors .lightskyblue {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/lightskyblue.jpg"); }
      .work-area .tool-box .colors .camcmyk {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/camcmyk.jpg"); }
      .work-area .tool-box .colors .brown {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/brown.jpg"); }
      .work-area .tool-box .colors .deepskyblue {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/deepskyblue.jpg"); }
      .work-area .tool-box .colors .skyblue {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/lightskyblue.jpg"); }
      .work-area .tool-box .colors .gray {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
        margin: 5px;
        background-image: url("../img/colors/gray.jpg"); }
    .work-area .tool-box .styles {
      width: 80%;
      text-align: center;
      display: none; }
      .work-area .tool-box .styles .title {
        font-size: 30px;
        color: black; }
      .work-area .tool-box .styles .gender {
        width: 50%; }
        .work-area .tool-box .styles .gender div {
          background-color: gray;
          margin-left: 5px;
          display: inline-block;
          width: 40%;
          font-size: 40px; }
      .work-area .tool-box .styles .size {
        width: 50%; }
        .work-area .tool-box .styles .size div {
          display: inline-block;
          width: 40%;
          font-size: 40px; }
    .work-area .tool-box .diys {
      width: 80%;
      text-align: center;
      display: none; }
      .work-area .tool-box .diys .title {
        font-size: 30px;
        color: black; }
