@mixin color-icons
	text-align: center
	height: 50px
	border-bottom: 1px solid white
	padding-top: 10px

@mixin color-items
	display: inline-block
	width: 50px
	height: 50px
	border-radius: 10px
	padding: 0px 3px 0px 3px
	margin: 5px

@mixin cloth-style
	position: relative
	width: 500px
	height: 500px
	background-size: 500px
	background-position: center
	background-repeat: no-repeat
	margin: auto
	@include breakpoint(mobile)
		width: 100%
		background-size: contain

		

@mixin pos-text
	position: relative
	font-size: 30px
	color: white
	

	

@mixin color-icon-i
	font-size: 30px
	color: #b9b9b9

@mixin breakpoint($point)
	@if $point == pc
		@media only screen and (max-width: 1024px)
			@content 
	@else if $point == pad 
		@media only screen and (max-width: 991px)  
			@content 
	@else if $point == mobile 
		@media only screen and (max-width: 491px)   
			@content 
.cat1
    width: 30px
.preview-area
	width: 65%
	display: inline-block
	@include breakpoint(pad)
		width: 100%
	.preview-img
		width: 100%
		text-align: center
		margin: auto
		.rotate
				width: 80%
				#right
					width: 50px
					height: 50px
				#left
					height: 50px
					width: 50px
		.m
			display: block
			width: 100%
			.pos1-m
				display: block
				@include cloth-style
				background-image: url("../img/male/b1_1red.png")
				@include breakpoint(mobile)
					background-position: 0
				.text1
					@include pos-text
					position: relative
					top: 125px
					width: 200px
					margin: auto
					@include breakpoint(mobile)
						position: relative
						font-size: 20px
						top: 160px
						width: 30%
				.text2
				    width: 100%
				    height: 200px
			.pos2-m
				display: none
				@include cloth-style
				background-image: url("../img/male/b2_1red.png")
				.text2
					@include pos-text
					font-size: 15px
					top: 180px
					left: 30px
					@include breakpoint(mobile)
						font-size: 12px
						left: 18px
						top: 205px

			.pos3-m
				display: none
				@include cloth-style
				background-image: url("../img/male/b3_1red.png")
				.text3
					@include pos-text
					top: 100px
					@include breakpoint(mobile)
						font-size: 20px
						top: 147px
			.pos4-m
				display: none
				@include cloth-style
				background-image: url("../img/male/b4_1red.png")
				.text4
					@include pos-text
					top: 180px
					left: -35px
					font-size: 15px
					@include breakpoint(mobile)
						font-size: 12px
						left: -17px
						top: 200px
		.f
			display: none
			width: 100%
			.pos1-f
				display: block
				@include cloth-style
				background-image: url("../img/female/g1_1red.png")
				.text1
					@include pos-text
					position: relative
					top: 125px
					width: 200px
					margin: auto
					@include breakpoint(mobile)
						font-size: 20px
						top: 160px

			.pos2-f
				display: none
				@include cloth-style
				background-image: url("../img/female/g2_1red.png")
				.text2
					@include pos-text
					font-size: 15px
					top: 180px
					left: 30px
					@include breakpoint(mobile)
						position: relative
						top: 193px
						left: 22px
						font-size: 13px

			.pos3-f
				display: none
				@include cloth-style
				background-image: url("../img/female/g3_1red.png")
				.text3
					@include pos-text
					top: 100px
					@include breakpoint(mobile)
						font-size: 20px
						top: 147px
			.pos4-f
				display: none
				@include cloth-style
				background-image: url("../img/female/g4_1red.png")
				.text4
					@include pos-text
					top: 180px
					left: -35px
					font-size: 15px
					@include breakpoint(mobile)
						font-size: 12px
						left: -25px
						top: 190px
				.text5
				    width : 100%
				    height: 200px


.work-area
	width: 35%
	display: inline-block
	vertical-align: top
	@include breakpoint(pad)
		width: 100%
		height: 300px
	.tool-item
		width: 20%
		display: inline-block
		background-color: #616161
		height: 800px
		vertical-align: top
		@include breakpoint(pad)
			height: 300px
		.color-icon
			@include color-icons
			i
				@include color-icon-i
		.style-icon
			@include color-icons
			i
				@include color-icon-i
		.diy-icon
			@include color-icons
			i
				@include color-icon-i
	.tool-box
		width: 80%
		display: inline-block
		.colors
			width: 80%
			text-align: center
			.title
				font-size: 30px
				color: black
			.red
				@include color-items
				background-image: url("../img/colors/red.png")
			.blue
				@include color-items
				background-image: url("../img/colors/blue.png")
			.green
				@include color-items
				background-image: url("../img/colors/green.png")
			.camblue
				@include color-items
				background-image: url("../img/colors/camblue.jpg")
			.yellow
				@include color-items
				background-image: url("../img/colors/yellow.jpg")
			.purple
				@include color-items
				background-image: url("../img/colors/purple.jpg")
			.orange
				@include color-items
				background-image: url("../img/colors/orange.png")
			.black
				@include color-items
				background-image: url("../img/colors/black.png")
			.lightskyblue
				@include color-items
				background-image: url("../img/colors/lightskyblue.jpg")
			.camcmyk	
				@include color-items
				background-image: url("../img/colors/camcmyk.jpg")
			.brown
				@include color-items
				background-image: url("../img/colors/brown.jpg")
			.deepskyblue
				@include color-items
				background-image: url("../img/colors/deepskyblue.jpg")
			.skyblue
				@include color-items
				background-image: url("../img/colors/lightskyblue.jpg")
			.gray
				@include color-items
				background-image: url("../img/colors/gray.jpg")

		.styles
			width: 80%
			text-align: center
			display: none
			.title
				font-size: 30px
				color: black
			.gender
				width: 50%
				div
					background-color: gray
					margin-left: 5px
					display: inline-block
					width: 40%
					font-size: 40px
			.size
				width: 50%
				div
					display: inline-block
					width: 40%
					font-size: 40px
		.diys
			width: 80%
			text-align: center
			display: none
			.title
				font-size: 30px
				color: black


		
			
			
	